<html>
    <head>
        <title>About Giridharan Paramasivam</title> 
        <link rel = "icon" href = "assets/Logo.png" type = "image/x-icon"> 
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
      </head>
    <body>
        <%- include('partials/navbar.ejs') %>
        <section id="about" class="about-section">
            <div class="container">
            <h2>About Me</h2>
            <div class="blurred-box">
                <img src="assets/photo_cropped.jpeg" alt="Profile Image" class="profile-image">
                <p class="about-description">I am Giridharan Paramasivam, a passionate 
                    Software engineer with a strong dedication to software development.<br> 
                    With a passion for coding and a knack for problem-solving, 
                    I am trying to develop a successful career in software engineering.</p>
                <a href="assets/resume.pdf" target="_blank" class="resume-link">Download Resume</a>
                <div class="sub-sections">
                    <div class="sub-section">
                    <h3>My Background</h3>
                    <ul>
                        <li>
                        <span>Software Engeineering Technology</span>
                        <p>Centennial College, May 2023 - current</p>
                        </li>
                        <li>
                        <span>B.E.,Mechatronics </span>
                        <p>Dr.Mahalingam college of Engineering and technology</p>
                        </li>
                    </ul>
                    </div>
                    <div class="sub-section">
                    <h3>Services</h3>
                    <p>The Services that I can provide are 
                    </p>
                    <ul>
                        <li>
                        <span>Front End development</span>
                        </li>
                        <li>
                        <span>Back End Development</span>
                        </li>
                        <li>
                        <span>Software Testing</span>
                        </li>
                    </ul>
                    </div>
                    <div class="sub-section">
                    <h3>Skills</h3>
                    <p>The programming languages that I am well versed are</p>
                    <ul>
                        <li>
                        <span>C#</span>
                        </li>
                        <li>
                        <span>Java</span>
                        </li>
                        <li>
                        <span>HTML</span>
                        </li>
                        <li>
                        <span>CSS</span>
                        </li>
                        <li>
                            <span>JavaScript</span>
                        </li>
                        <li>
                            <span>DBMS</span>
                            <li>
                                <span>MongoDB</span>
                            </li>
                            <li>
                                <span>RDBMS</span>
                            </li>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <%- include('partials/footer.ejs') %>
    </body>
    
      
    
      
</body>
</html>
