<html>
    <head>
        <title>Giridharan Paramasivam</title> 
        <link rel = "icon" href = "assets/logo.png" type = "image/x-icon">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
      </head>
    <body>
        <%- include('partials/navbar.ejs') %>
        <section id="home" class="home-section">
            <div class="container">
            <h1>Welcome to My Portfolio</h1>
            <p class="mission-statement">My mission is to utilize my computer engineering knowledge and skills<br> to develop high-quality software solutions that solve real-world problems,<br> empower businesses, and positively impact people's lives.</p>
            <div class="columns">
                <div class="column">
                    <h2>About me</h2>
                    <p>You may find out more about my experience, talents, 
                        and enthusiasm for software development in the "About Me" area.
                         I'll discuss my experiences as a computer engineer and my skills in coming 
                         up with original solutions.</p>
                    <a href="../about" class="btn">About Me</a>
                </div>
                <div class="separator"></div>
                <div class="column">
                    <h2>Projects</h2>
                    <p>visit the "Projects" area to learn about some of the fascinating projects I've completed. 
                        I've had the chance to participate in a few projects that highlight my technical know-how and 
                        problem-solving talents, ranging from web applications to mobile apps.  Look through my portfolio
                         to get a sense of how I bring concepts to life.
                    </p>
                    <a href="../projects/" class="btn">Projects I've worked on</a>
                </div>
                <div class="separator"></div>
                <div class="column">
                    <h2>Services</h2>
                    <p>Interested in the 'Services' I provide? Detailed information about the software development services
                         I offer is available in this area. I'm available to provide specialised solutions to satisfy your 
                         particular needs, whether you need assistance with developing custom applications, software consulting,
                          or putting cutting-edge technology into use..</p>
                    <a href="../services/" class="btn">Services I Offer</a>
                </div>
                <div class="separator"></div>
                <div class="column">
                    <h2>Contact</h2>
                    <p>Please get in touch using the 'Contact' area! 
                        Whether you have a project proposal, a chance to collaborate, 
                        or you just want to connect, I'd be glad to hear from you. 
                        Let's talk about how we can collaborate to make your software development objectives a reality.</p>
                    <a href="../contact/" class="btn">Contact Me</a>
                </div>
            </div>
            </div>
        </section>
        <%- include('partials/footer.ejs') %>
    </body>
</html>

  


