<html>
    <head>
        <title>Projects</title> 
        <link rel = "icon" href = "assets/Logo.png" type = "image/x-icon">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
      </head>
    <body>
        <%- include('partials/navbar.ejs') %>
        <section id="project" class="project-section">
            <div class="container">
            <h2>Projects</h2> 
                <p class="project-description">
                    Some of the projects that I did during my bachelor's are 
                </p>
                <div class="sub-sections">
                    <div class="sub-section">
                    <h3>AI Enhanced OBSTACLE OR OBJECT IDENTIFIER</h3>
                    <p>Implementation of Convolutional Neural Network Algorithm to detect a
                        particular object for blind people with an efficiency of 89% by training them
                        with number of training data.<span> Technology Used: CNN, python, MySQL,
                        OpenCV,Tensorflow. manipulation.</span>
                    </p>

                    </div>
                    <div class="sub-section">
                        <h3>JOGGING TRACKER WEBSITE</h3>
                        <p>Developed a custom website which tracks the distance, calories Burnt and
                            can also suggests various exercises from Database based on the BMI of the
                            person. <span>Technology Used:HTML,TailwindCSS, JavaScript, ReactJS.</span>
                        </p>
                        
                    </div>
                    <div class="sub-section">
                        <h3>IT Service HelpDesk</h3>
                        <p>POC Project during intern(training) period
                            Built an IT Service Help Desk Application which gets user input from
                            customer and assigns it to the appropriate team and the customer can track
                            the status of the ticket. <span>Technology Used : PEGA.</span>
                        </p>
                        
                    </div>
                </div>
            </div>
        </section>
        <%- include('partials/footer.ejs') %>
    </body>
</html>