<html>
    <head>
        <title>Services</title> 
        <link rel = "icon" href = "assets/Logo.png" type = "image/x-icon">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
      </head>
    <body>
        <%- include('partials/navbar.ejs') %>
        <section class="services-container">
            <h2>Services</h2>
            <div class="service-card">
            <h3>Front End Development</h3>
            <p>
                <li>UserInterface Design</li>
                <li>Responsive Web Development</li>
                <li>Cross-Browser compatibility</li>
                <li>Interaction with Back-End Systems</li>
            </p>
            </div>
            <div class="service-card">
            <h3>BackEnd Development</h3>
            <p>
                <li>Server-side Architecture</li>
                <li>Database Design and development</li>
                <li>API Development</li>
                <li>Version Control and DevOps</li>
            </p>
            </div>
            <div class="service-card">
            <h3>Software Testing Services</h3>
            <p>
                <li>Test Planning</li>
                <li>Manual and Automation Testing</li>
                <li>Function Testing</li>
                <li>Exploratory Testing</li>
            </p>
            </div>
        </section>
    <%- include('partials/footer.ejs') %>
    </body>
</html>